/*
Created by hk
mobile first design
*/

html {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    width: 100%;
}

body {
    margin: 0;
    background-color: #2b3341;
}

header {
    width: 100%;
    background-color: #2b3341;
    color: white;
    padding-bottom: 10px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    color: #fff;
    background-color: #2b3341;
}

header li a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #2b3341;
}

header li a:hover {
    background-color: #000;
    font-weight: bold;
    cursor: pointer;
    height: 70px;
}

header li a:active {
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    height: 70px;
}

header:hover {
    cursor: pointer;
}


header li a:focus {
    background-color: #000;
}

.active {
    /*div inside navigation to tell what page user is on*/
    font-size: 2vh;
    text-decoration: underline;
}

nav {
    position: fixed;
    border-top: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    background: #2b3341;
    display: inline;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Concert One';
}

ul {
    height: 70px;
    width: 100%;
}

li {
    float: left;
    width: 20%;
}

a {
    padding-top: 20px;
}

/* Page title */
.title {
    font-size: 1.6em;
    text-decoration: none;
    color: white;
    padding-left: 0;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-family: 'Concert One';
}


footer {
    background-color: #2b3341;
    color: #fff;
    padding-bottom: 50px;
    text-decoration: none;
    text-align: center !important;
}

#bottom {
    height: 25px;
}

/* first image with floating text on top */
.text-box {
    position: absolute;
    top: 20vh;
    left: 0;
    color: #000;
    background-color: rgb(132 255 244 / 90%);
}


/* content styling */
.container {
    padding: 5px 2vh;
}

.row {
    padding: 2vh 4vh;
    text-align: left;

}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    padding-top: 1vh;
}

p {
    font-size: 1em;
}

.link {
    text-decoration: none;
}

.white-txt {
    color: white;
}

.link-btn-txt {
    color: black;
}

.link-btn-txt:hover {
    cursor: pointer;
    font-weight: bold;
}

.white-text {
    color: #fff;
}

.hide-map {
    display: none !important;
}

.show-1920 {
    display: none;
}

/* open hours list */
#hours {
    height: 220px;
}

.list {
    display: table-row;
}

.list-hour {
    display: table-cell;
    float: left;
    width: 100%;
}


/* Scaling- making the image auto adjustable */
.scale {
    width: 90%;
}

.scale2 {
    width: 30%;
}

.scale3 {
    height: 150px;
}

#front-img {
    width: 100%;
}

/* center objects */
.center {
    padding: 0 20px;
}

.text-center {
    text-align: center !important;
}

.align-left {
    text-align: left !important;
}

/* images side by side using flexbox*/
.image-box {
    display: flex;
}

.img-box {
    padding-left: 1px;
    width: 10vh;
}

.flex-box {
    display: flex;
    width: 100%;
}

.flex {
    flex: 1;
}

.padding-top {
    padding-top: 50px;
}

.padding-bottom {
    padding-bottom: 100px;
}

.light {
    background-color: #fff;
}

/* container fun head colors */
.con-col1 {
    background-color: #b77833;
    height: 20px;
}

.con-col2 {
    background-color: #b74b8c;
    height: 20px;
}

.con-col3 {
    background-color: #1d90da;
    height: 20px;
}

.con-col4 {
    background-color: rgb(132 255 244 / 90%);
    height: 20px;
}

.contact-form {
    max-width: 480px;
    margin: 0;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 4px;
    color: #505e6c;
}

.form-group {
    background: #fff;
    padding-top: 5px;
    border-radius: 2px;
    outline: none;
    color: inherit;
    padding-left: 12px;
}

.form-input {
    width: 100%;
}

textarea {
    min-height: 100px;
    max-height: 260px;
    padding-top: 10px;
    margin: 0;
    width: 171px;
    height: 86px;
    resize: vertical;
}


label {
    padding: 10px 10px 10px 0;
    display: inline-block;
}

input[type=submit] {
    cursor: pointer;
    float: right;
}


.hide-text {
    display: none;
}


/* odd even color for troubleshooting
.odd {background-color: rgb(133 133 133 );}
.even {background-color: rgb(233 233 233);}
*/

@media (min-width: 768px) {

    .hide {
        display: none;
    }

    .hide-map {
        display: block !important;
    }

    .hide-text {
        display: block !important;
        padding-left: 2vh;
    }

    .scale2 {
        width: 10%;
    }

    header {
        display: flex;
        width: 100%;
    }

    main {
        padding: 0 10vh;
    }

    header li a {
        display: inline;
        text-decoration: none;
        color: white;
        background-color: #2b3341;
    }

    header li a:hover {
        background-color: #2b3341;
        text-decoration: underline;
        cursor: pointer;
        height: 70px;
    }

    nav {
        padding-top: 17px;
        padding-left: 100px;
        flex: 1;
        position: relative;
        border-top: none;
        box-shadow: none;
        display: inline;
        left: 0;
        right: 0;
        top: 0;
        width: 60%;
    }


    ul {
        display: inline-block;
        height: 25px;
    }

    li {
        width: 20%;
        float: left;
    }

    a {
        padding-top: 0;
    }

    .container-flex {
        display: flex;
        width: 100%;
    }

    .container {
        flex: 1;
        padding: 16px;
    }

    .row {
        padding: 2vh 4vh;
        text-align: left;
        height: 95%;
    }

    #front-img {
        height: 500px;
    }

    .text-box {
        position: absolute;
        top: 30vh;
        max-width: 500px;
        left: 0;
        color: #000;
        background-color: rgb(132 255 244 / 90%);
    }

    .padding-bottom {
        padding-bottom: 5px;
    }

    h1, .text-box {
        text-align: left !important;
    }


    iframe {
        width: 100%;
        padding-bottom: 100px;
    }
}

@media (min-width: 1080px) {
    main {
        padding: 0 20vh;
    }

    .text-box {
        position: absolute;
        top: 40vh;
        left: 0;
        color: #000;
        background-color: rgb(132 255 244 / 90%);
    }
}

@media (min-width: 1366px) {
    main {
        padding: 0 30vh;
    }
}

@media (min-width: 1920px) {
    .show-1920 {
        display: block !important;
    }

    .text-box {
        position: absolute;
        top: 33vh !important;
        left: 0;
        color: #000;
        background-color: rgb(132 255 244 / 90%);
    }

}

