/*
Created by KH
mobile first design
*/

html {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    width: 100%;
}

body {
    margin: 0;
    background-color: #2b3341;
}

header {
    width: 100%;
    background-color: #2b3341;
    color: white;
    padding-bottom: 10px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    color: #fff;
    background-color: #2b3341;
}

header li a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #2b3341;
}

header li a:hover {
    background-color: #000;
    font-weight: bold;
    cursor: pointer;
    height: 70px;
}


header .button:hover {
    cursor: pointer;
}

nav {
    position: fixed;
    border-top: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    background: #2b3341;
    display: inline;
    left: 0;
    right: 0;
    bottom: 0;
}

ul {
    height: 70px;
    width: 100%;
}

li {
    float: left;
    width: 20%;
}

a {
    padding-top: 20px;
}

/* Page title */
.title {
    font-size: 2em;
    text-decoration: none;
    color: white;
}


footer {
    background-color: #2b3341;
    color: #fff;
    height: 200px;
    text-decoration: none;
    text-align: center !important;
}

#bottom {
    height: 25px;
}

/* first image with floating text on top */
.text-box {
    position: absolute;
    top: 35vh;
    right: 20vh;
    left: 0;
    color: #000;
    background-color: rgb(132 255 244 / 90%);
}


/* content styling */
.container {
    padding: 5px 2vh;
}

.row {
    padding: 2vh 4vh;
    text-align: left;
}

.align-center {
    text-align: center !important;
}

.align-left {
    text-align: left !important;
}


h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    padding-top: 1vh;
}

p {
    font-size: 1em;
}

.link {
    text-decoration: none;
}

.white-text {
    color: #fff;
}

/* open hours list */
#hours {
    height: 220px;
}

.list {
    display: table-row;
}

.list-hour {
    display:table-cell;
    float:left;
    width: 100%;
}


/* Scaling- making the image auto adjustable */
.scale {
    width: 90%;
}

.scale0 {
    width: 100%;
}

/* center objects */
.center {
    padding-left: 20px;
    padding-right: 20px;
}

.text-center {
    text-align: center;
}

/* images side by side using flexbox*/
.image-box {
    display: flex;
}

.img-box {
    padding-left: 1px;
    width: 10vh;
}

.flex {
    float: left;
    flex: 1;

}

.light {
    background-color: #fff;
}

/* container fun head colors */
.con-col1 {
    background-color: #b77833;
    height: 20px;
}

.con-col2 {
    background-color: #b74b8c;
    height: 20px;
}

.con-col3 {
    background-color: #1d90da;
    height: 20px;
}

.con-col4 {
    background-color: rgb(132 255 244 / 90%);
    height: 20px;
}

/* odd even color for troubleshooting
.odd {background-color: rgb(133 133 133 );}
.even {background-color: rgb(233 233 233);}
*/

@media (min-width: 768px) {

    .hide {
        display: none;
    }

    header {
        display: flex;
        width: 100%;
    }

    main {
        padding: 0 10vh;
    }

    header li a {
        display: inline;
        text-decoration: none;
        color: white;
        background-color: #2b3341;
    }

    nav {
        padding-top: 17px;
        padding-left: 100px;
        flex: 1;
        position: relative;
        border-top: none;
        box-shadow: none;
        display: inline;
        left: 0;
        right: 0;
        top: 0;
        width: 60%;
    }

    ul {
        display: inline-block;
        height: 25px;
    }

    li {
        width: 20%;
        float: left;
    }

    a {
        padding-top: 0;
    }

    .container-flex {
        display: flex;
        width: 100%;
    }

    .container {
        flex:1;
        padding:16px;
    }

    .row {
        padding: 2vh 4vh;
        text-align: left;
        height: 95%;
    }

    .scale0 {
        height: 500px;
    }

    .text-box {
        position: absolute;
        top: 30vh;
        right: 500px;
        left: 0;
        color: #000;
        background-color: rgb(132 255 244 / 90%);
    }

    h1, .text-box {
        text-align:left !important;
    }

}

@media (min-width: 1080px) {
    main {
        padding: 0 35vh;
    }

    .text-box {
        position: absolute;
        top: 40vh;
        right: 500px;
        left: 0;
        color: #000;
        background-color: rgb(132 255 244 / 90%);
    }
}

@media (min-width: 1366px) {

}

@media (min-width: 1920px) {

}