/*
Created by KH
mobile first design
*/

html {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    width:100%;
}

body {
    margin:0;
    background-color: #2b3341;
}

header {
    width: 100%;
    padding-bottom: 10px;
    background-color: #2b3341;
    color:white;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    color:#fff;
    background-color: #2b3341;

}
header li a {
    display: block;
    text-decoration: none;
    color:white;
    background-color: #2b3341;

}

header li a:hover   {
    background-color: #000;
    font-weight: bold;
    cursor: pointer;
    height: 70px;
}


header .button:hover {
    cursor: pointer;
}

nav  {
    position: fixed;
    border-top: 1px solid #ddd;
    background: #2b3341;
    display:inline;
    border-top: 1px solid lightgray;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    left: 0;
    right: 0;
    bottom: 0;

}

ul {
    height:70px;
    width:100%;
}

li {
    float:left;
    width:20%;
}

a {
    padding-top: 20px;
}

/* Page title */
.title {
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    color:white;
}


footer {
    background-color: #2b3341;
    color: #fff;
    height: 100px;
    text-decoration: none;
    text-align: center !important;
}


.top, #bottom {
    height: 25px;
}

/* first image with floating text on top */
.text-box {
    position: absolute;
    top: 30vh;
    left: 4vh;
    right: 4vh;
    color: white;
    background-color: rgb(43 51 65 / 90%);

}


/* content styling */
.container {
    padding: 5px 2vh;
}

.row {
    padding: 2vh 4vh;
    text-align: left;
}

.align-center {
    text-align: center !important;
}


h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    padding-top: 1vh;
}

p {
    font-size: 1em;
}

.link {
    text-decoration: none;
}

.white-text {
    color:#fff;
}


/* Scaling- making the image auto adjustable */
.scale {
    width: 90%;
}

.scale0 {
    width: 100%;
}

/* center objects */
.center {
    padding: 0 20px;
}

.text-center {
    text-align:center;
}

/* images side by side using flexbox*/
.image-box {
    display: flex;
}

.img-box {
    padding-left: 1px;
    width: 10vh;
}

.flex {
    float:left;
    flex: 1;

}

.light {
    background-color: #fff;
}

/* container fun head colors */
.con-col1 {
    background-color: #b77833;
    height: 20px;
}

.con-col2 {
    background-color: #b74b8c;
    height: 20px;
}

.con-col3 {
    background-color: #1d90da;
    height: 20px;
}

/* odd even color for troubleshooting
.odd {background-color: rgb(133 133 133 );}
.even {background-color: rgb(233 233 233);}
*/

@media (min-width: 768px) {

    /* display no hamburger menu */
    #hamburger-menu, .fa-bars, .fas {
        display:none !important;
    }

    nav {
        display:inline;
    }

    li {
        float:right;
    }


}




/* start flexbox */
.container-flex {
    display:flex;
}

.row-flex {
    flex: 1;
}
/* end flexbox */