/*
Created by KH
mobile first design
*/

html {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    width:100%;
}

body {
    margin:0;
    background-color: #fff;
}

header {
    width: 100%;
    padding-bottom: 10px;
    background-color: #2b3341;
    color:white;
}
header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    color:white;
    background-color: #2b3341;
}
header li a {
    display: block;
    padding: 10px 50px;
    text-decoration: none;
    color:white;
    background-color: #2b3341;
}

header li a:hover {
    background-color: #000;
    font-weight: bold;
    cursor: pointer;
}

header .button:hover {
    cursor: pointer;
}


nav {
    display: none;
    height: 65px;
}

.a {

}

.title {
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    color:white;
}

.fa, .fas {
    padding-top: 15px !important;
}

#hamburger-menu{
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
    padding-bottom: 100px;

}

.bread {
    padding: 15px 15px;
}

footer {

}

.container {
    padding: 0 2vh;
}

.row {
    padding: 2vh 4vh;
    text-align: left;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    padding-top: 1vh;
}

p {
    font-size: 1em;
}

/* odd even color */
.odd {background-color:grey;}
.even {background-color: lightgray;}


@media (min-width: 768px) {

    /* display no hamburger menu */
    #hamburger-menu, .fa-bars, .fas {
        display:none !important;
    }

    nav {
        display:inline;
    }

    li {
        float:right;
    }


}




/* start flexbox */
.container-flex {
    display:flex;
}

.row-flex {
    flex: 1;
}
/* end flexbox */